{
  "extends": ["stylelint-config-recommended"],
  "customSyntax": "postcss-styled-components",
  "rules": {
    "font-family-no-missing-generic-family-keyword": [
      true,
      { "ignoreFontFamilies": ["JetBrains Mono"] }
    ]
  }
}
