server {
  listen 80;
  root /usr/share/nginx/html;
  absolute_redirect off;

  # Health check endpoint
  location /health {
      access_log off;
      return 200 'OK';
      add_header Content-Type text/plain;
  }
}