map "${PLUGIN_API_TOKEN}" $headerValue {
  "" "";
  "~*^(.+)$" "Token $1";
}

server {
  listen 80;
  root /usr/share/nginx/html;
  absolute_redirect off;

  location /api/ {
    proxy_pass ${PLUGIN_API_URL}/;
    proxy_set_header Authorization $headerValue;
  }
}