<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="<%= baseUrl %>" />
    <meta charset="UTF-8" />
    <meta name="digma-ui-version" content="<%= version %>" />
    <style>
      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Thin.ttf") format("truetype");
        font-weight: 100;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-ExtraLight.ttf") format("truetype");
        font-weight: 200;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Light.ttf") format("truetype");
        font-weight: 300;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Medium.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Medium.ttf") format("truetype");
        font-weight: 600;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-SemiBold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Bold.ttf") format("truetype");
        font-weight: 800;
        font-style: normal;
      }

      @font-face {
        font-family: "Alexandria";
        src: url("/assets/fonts/Alexandria-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.platform = "Web";
    </script>
    <% for (const jsFile of jsAssets) { %>
    <script src="./<%= jsFile %>"></script>
    <% } %>
  </body>
</html>
