<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="digma-ui-version" content="<%= version %>" />
    <style>
      @font-face {
        font-family: "JetBrains Mono";
        src: url("/assets/fonts/JetBrainsMono-Medium.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="./env.js"></script>
    <% for (const jsFile of jsAssets) { %>
    <script src="./<%= jsFile %>"></script>
    <% } %>
  </body>
</html>
