name: Attach artifact to release

on:
  workflow_call:
    inputs:
      artifact-name:
        type: string
        required: true

jobs:
  attach:
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - run: |
          cd dist
          zip -r ${{ inputs.artifact-name }}.zip *

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/${{ inputs.artifact-name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
